@font-face{
    font-family: Arial, Helvetica, sans-serif;
    src: url(Arial.ttf);
}
body{
    background-image: url(bankhome1.jpg);
    animation: animation 10s infinite;
}
    @keyframes animation 
{
    0%{
        background: url("atm.jpeg");
        /* height: 400px; */
        background-size: cover;
    }
    25%
    {
        background: url("agriculture.jpeg");
        background-size: cover;
    }
    50%
    {
        background: url("education.jpeg");
        background-size: cover;
    }
    75%
    {
        background: url("home.jpeg");
        background-size: cover;
    }
    100%
    {
        background: url("gold.jpeg");
        background-size: cover;
    }
    125%{
        
        background: url("note.jpeg");
        background-size: cover;

    }
    150%{
        
        background: url("car.jpeg");
        background-size: cover;

    }
    
}
.small{
    color: white;
    margin-left: 330px;
    margin-top: -20px;
    font-weight:bolder;
}
header{
   border: solid white;
   margin: 2px;
   height: 150px;
   width:1360px;
   background: radial-gradient(red,black);
   opacity: 0.7;
 }
.image{
   height: 50px;
   width: 50px;
   margin-left: 40px;
   margin-top: 40px;
   border:solid yellow;
   border-radius: 35%;
}
.dakota{
    color: red;
    text-shadow:2px 2px yellow;
    font-size: 53px;
    font-family:Cinzel-Black;
    margin-left: 110px;
    margin-top: -62px;
    font-weight:10px bolder;
}

.firstbutton{
    margin-left: 800px;
    margin-top: -90px;
 }
.secondbutton{
    margin-left: 1000px;
    margin-top: -54px;
}
.thirdbutton{
    margin-left: 1200px;
    margin-top: -54px;
}

#home{
    height: 60px;
    color: white;
    background-color: transparent;
    border: transparent;
    font-size: 50px;
    font-weight:  bolder;
    /* border-bottom:solid white; */

 }
#home:hover i:hover{
    color:black
}
#contact:hover i:hover{
    color:black
}
#search:hover i:hover{
    color:black
}
 #contact{
    height: 60px;
    color: white;
    background-color: transparent;
    border: transparent;
    font-size: 50px;
    font-weight:  bolder;
    /* border-bottom:solid white; */
 }

 #search{
    height: 60px;
    color: white;
    background-color: transparent;
    border: transparent;
    font-size: 50px;
    font-weight:  bolder;
    /* border-bottom:solid white; */
 }

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 300px;
    box-shadow:white;
    /* color: white; */
    z-index: 1;
  }
  
  .dropdown-content a {
    color:white;
    padding: 12px 16px;
    display: block;
    font-weight: bolder;
  }
  
  .dropdown-content a:hover {
         background:linear-gradient(yellow,red);
        }
  
  .dropdown:hover .dropdown-content {
      display: block;
    }
    body{
        overflow: scroll;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    body::-webkit-scrollbar {
       width: 15px;
     }
      
     body::-webkit-scrollbar-track {
       border: transparent;
       background-color: black;
       -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
       border-radius: 10px;
     }
      
     body::-webkit-scrollbar-thumb {
       border: transparent;
       background:linear-gradient(red,yellow);
       border-radius: 15px;
       -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); 
     }
  footer{
    border: solid white;
    margin: 2px;
    height: 50px;
    width:1360px;
    background: radial-gradient(red,black);
    opacity: 0.7;
    margin-top: 23px;
  }
  #terms {
      color: white;
      font-weight:2px bolder;
  }
/* section{
    height: 800px;
    width: 1360px;
} */
  #section{
    margin-top: 10px;
    margin-left:190px;
   background:transparent;
   /* background:linear-gradient(yellow,red); */
 /* border:1px solid rgba(0, 0, 0, 0.3); */
width:1000px;
height:680px;
border: solid black;
border-bottom-left-radius:20% ;
border-bottom-right-radius:20% ;
border-top-left-radius:5% ;
border-top-right-radius:5% ;
 box-shadow:
        0    0   1px  rgba(255,255,255,.8), /* Bright outer highlight */
        0    0   3px  rgba(0,0,0,.8),       /* Outer shadow */
        1px  1px 0    rgba(0,0,0,.8) inset, /* Inner shadow (top + left) */
       -1px -1px 0    rgba(0,0,0,.8) inset; /* Inner shadow (bottom + right) */
}
#form{
    margin-top:30px;
    padding-left: 225px;
}
#h2{
  
    font-size:20px;
    margin-left:-143px;
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    color:yellow;
    font-weight: bolder;
    text-shadow:2px 2px red;
    
}
#name1,#name2,#phone,#password1,#password2{
    height:30px;
        width:300px;
        background:linear-gradient(blue,white);
        /* outline:0px; */
        /* border-width:0 0 1px; */
        border-color:green;
        border-radius: 10px;
        color:black;
        font-weight: bold;
     
}
#city,#state{
    height:20px;
    width:200px;
    background-color:black;
    opacity:0.7;
    outline:0px;
    border-width:0 0 1px;
    border-color:black;
    color:white
}

#fn,#ln,#mob,#alt,#aadhar,#pan,#dob,#email,#pwd,#cpwd{
    height:20px;
    width:500px;
    background-color:transparent;
    outline:0px;
    border-width:0 0 1px;
    border-color:black;
    color:white
}
#city,#state,
::placeholder{
    color: yellow;
    font-weight:lighter ;
    text-shadow: 1px 1px 1px red; 
}
#city,#state,#gender,#male,#female,#ma,#fe,#dob,#p,#log{
    color: yellow;
    font-weight: lighter;
    text-shadow: 1px 1px 1px red; 

}
i { 
    color:yellow;
    text-shadow: 2px 4px 6px red; 
} 
.fa{ 
    font-size: 50px; 
} 


#p{
    color: yellow;
    font-size: 15px
}

#btn{
    width:200px;
    height: 45px;
    border-radius: 15px;
    background-color:green;
    opacity:0.5;
    border:transparent;
    color: white;
    margin-left: 5px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    font-weight: bolder
}

#btn1{
    width:200px;
    height: 45px;
    border-radius: 15px;
    background-color:green;
    opacity:0.5;
    border:transparent;
    color: white;
    margin-left: 15px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    font-weight: bolder
}
#btn:hover,#btn1:hover{
    color: white;
    background-color: green;
    opacity: 15;
    
}



/* modal CSS  */

.modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    /* background: linear-gradient(blue,white); */

    background-color: lemonchiffon;
    margin: auto;
    padding: 10px;
    border: 1px solid #888;
    width: 40%;
    text-align: center;
    opacity: 0.8;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bolder;
    opacity: 1;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

.cus{
    color: black;
    font-weight: bolder;
}

#email1{
    height: 35px;
    width: 300px;
    border:2px solid black;
    background-color:gainsboro;
}
#txt{
    width: auto;
    border:2px solid black;
    background-color:gainsboro;
}
#btnmod{
    width:200px;
    color:black;
    background:blue;
    border-radius: 15px;
    font-weight: bolder;
    height: 30px;
}

#cust{
    color:red;
    text-shadow: 2px 2px yellow;
}

